@import "tailwindcss";


.Toastify__toast--success .Toastify__progress-bar {
    background: #0d9488 !important;
}

.Toastify__toast--success .Toastify__toast-icon svg {
    fill: #0d9488 !important; 
}

.Toastify__toast--success::after {
    background: transparent !important;
}

